body {
    margin: auto;
    background: linear-gradient(90deg, #5d5fef, #ba33b5);
    margin-left: 60px;
    margin-right: 60px;
    max-width: 100%;
    min-height: 100%;

}

header {

    align-items: center;


}

.imglogo {
    width: 120px;
    height: 60px;
    object-fit: cover;
    align-items: center;
    margin-right: 1%;
    box-shadow: 0px 0px 30px black, -5px -4px 45px black;
    margin-top: 3px;
}

.imglogo:hover {
    transform: scale(1.05);
    transition: 0.9s;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 30px black, -5px -4px 45px black;

}

li {
    list-style: none;
}

a {
    font-family: "poppins", sans-serif;
    text-decoration: none;
    background: linear-gradient(to left, rgb(240, 233, 225), rgb(0, 253, 13));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

li:hover {
    transform: scale(1.30);
    transition: 0.9s;

}

.sectionPremiere {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;

}

h1 {

    text-align: center;
    font-family: "poppins", sans-serif;
    font-size: 30px;

}

.strongh1 {
    font-family: "poppins", sans-serif;
    background: linear-gradient(to left, rgb(0, 224, 240), rgb(249, 253, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.strong {
    font-family: "poppins", sans-serif;
    background: linear-gradient(to left, rgb(0, 224, 240), rgb(249, 253, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titremain {
    align-items: center;

}

h3 {
    font-family: "poppins", sans-serif;
    text-align: center;
    font-size: 40px;


}

.imageprincipal {

    width: 600px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.divexplication {
    display: flex;
    text-align: center;
    border-style: hidden;
    padding: 20px;
    gap: 40px;
    flex-direction: row;
    align-items: center;

}

p:hover {
    transform: scale(1.10);
    transition: 2s;
}

.navart>p {
    font-family: "poppins", sans-serif;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 40px;
    font-size: 23px;
    text-shadow: -12px 13px 20px black, -3px 7px 7px black;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.51);
    color: white;
}




.divexplication p {
    font-family: "poppins", sans-serif;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 40px;
    font-size: 23px;
    text-shadow: -12px 13px 20px black, -3px 7px 7px black;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.51);
    color: white;
}

.imgélement {
    width: 800px;
    height: 650px;
    object-fit: cover;
    display: flex;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 75px;
    align-items: center;
    padding-top: 50px;

}

.artlanguage {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-top: solid;
    shape-outside: content-box;
}

.artlanguage h3 {

    margin-top: 60px;
}



.divlanguage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;


}

.divlanguage p {
    display: flex;
    font-family: "poppins", sans-serif;
    flex-direction: column;
    font-size: 25px;
    width: 400px;
    justify-content: space-around;
}

.left {

    height: fit-content;
    padding-bottom: 10px;
    margin-top: 40px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.51);
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;

}

.rigth {

    height: fit-content;
    padding-bottom: 10px;
    margin-top: 40px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.51);
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;

}

.navart {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-top: solid;
    shape-outside: content-box;
    text-align: center;
}

.artdiv {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    margin-top: 60px;
    margin-bottom: 1%;
}


.imglang {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.artdiv>a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
    box-shadow: 0px 0px 30px black, -5px -4px 45px black;
    ;
}

.artdiv>a:hover {
    transform: scale(1.08);
    transition: 2s;
}

.artdiv p {

    margin: 10px;
}

.navart>p {

    padding: 20px;
}


footer {
    margin-top: 60px;
    margin-bottom: 30px ;
    border-top: solid;
    shape-outside: content-box;
    padding-top: 30px;
}